.log-view {
    background: $black-quoise;

    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 3px;
    position: relative;
    flex: 1;
    padding: 1rem;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $grey-light;
    }
    .logs-box {
        display: flex;
        min-height: min-content;
        flex-direction: column;
    }

    .line {
        padding: 0.3rem;
        color: white;
        font-size: 13px;
        cursor: pointer;
        margin-bottom: 4px;
        padding-left: 0.5rem;
        margin-left: 0.25rem;
        transition: 0.2s all;
        &:hover {
            background: black;
        }

        p {
            display: inline-block;
        }

        img {
            height: 16px;
            width: auto;
            padding: 0 3px;
        }

        .timestamp {
            position: relative;
            color: $dirty-white;
            margin-right: 0.25rem;
        }
    }

    .load-all {
        width: 100%;
    }

    .progress {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.value-tags-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.466);
    margin: 0.75rem;
    margin-top: 1rem;
    border-radius: 4px;
    padding: 6px;
    max-width: 450px;
    .value-tags {
        font-family: monospace;
        font-size: 0.95em;
        display: flex;
        margin: 2px;
        padding: 2px;
        flex: 1;
        justify-content: space-between;

        span {
            padding: 0px 4px;
            display: flex;
            flex: 1;
            line-height: 34px;
            color: #cccccd;
        }
        &:hover {
            background: black;
        }
    }
}

.log-line {
    font-size: 0.95em;
    font-family: monospace;
    color: #e7e9e9;
}

.critical {
    border-left: 4px solid $loglevel-critical;
}

.error {
    border-left: 4px solid $loglevel-error;
}
.warning {
    border-left: 4px solid $loglevel-warning;
}
.info {
    border-left: 4px solid $loglevel-info;
}
.debug {
    border-left: 4px solid $loglevel-debug;
}
.trace {
    border-left: 4px solid $loglevel-trace;
}
.unknown {
    border-left: 4px solid $loglevel-unknown;
}
