.alertWrapper {
    position: fixed;
    bottom: 20px;
    right: 15%;
   
    display: flex;
    flex-direction: column;
    z-index: 10000;
    pointer-events: none;
    .alert {
        margin-top: 10px;
        pointer-events: all;
    }
}