.valuesList {
    transition:.2s all;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    font-size: 13px;

    background: #262626;
    margin: 5px 0px;
    border-radius: 4px;
    transition: 0.2s all;
    .valuelist-title {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        color: white;
        font-size: 1em;
        flex: 1;
        margin: 10px;
    
    }
    .valuelist-content {
        padding: 5px;
        display: flex;
        color: white;
        font-size: 14px;
        align-items: center;
        flex-wrap: wrap;
        max-height: 500px;
        overflow: auto;
        small {
            margin: 3px;
            padding: 5px 8px;
            border-radius: 3px;
            background: #5454543b;
            color: #d1d1d1;
            font-size: 0.9em;
            cursor: pointer;
            align-items: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            transition: 0.2s all;
            &:hover {
                background: #ffffff3a;
            }
        }
    }
    .valuelist-filter {
        display: flex;
        flex: 1;
        flex-direction: column;


        .valuelist-filter-title {
            font-size: 0.75em;
        }
        input {
            color: white;
            background: $black-quoise;
            padding: 6px 3px;
            border-radius: 4px;
            flex: 1;
            margin: 0px 3px;
            outline: none;
            border: none;
        }
    }
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $grey-light;
    }
}
.values-container {
    max-width: 100%;
    .values-container-column {
        display: flex;
        max-width: 100%;
        .values-column {
            margin: 5px;
            border-radius: 3px;
            background: #323131;
            height: auto;
            min-height: 100px;
            min-width: 175px;
            .column {
                max-height: 350px;
                &::-webkit-scrollbar {
                    width: 10px;
                    color: #58585898;
                    background: #ffffff1f;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background: $grey-light;
                }
            }
            .values-column-title {
                background: #403f3f;
            border-left: 1px solid #ffa60056;
                padding: 8px;
                font-size: 1em;
                border-radius: 4px 4px 0px 0px;
                border-bottom: 2px solid #2e2e2e;
                color:white;
                display: flex;
                flex: 1;
                transition: .2s all;
            
                justify-content: space-between;
        
                .close-column {
                    align-self: flex-end;
                    justify-self: end;
                    color:orange;
                    cursor:pointer;
            
                padding:2px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color:#c9c5c5;
            
                font-size: 10px;
                    &:hover {
                        
                        background:$dark-quoise-hover;
                        
                    color:black;
                
                    }
                }
            }
        }
    }
}
.legend-container {
    margin:3px;
    padding:3px;
    .legend-title {
        font-size: 13px;
        font-weight: bold;
    }
    .legend-text {
        font-size: 11px;
        font-family: monospace;
    }
}

.refresh-button {
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 5px 8px;
    border:none;
    height: 22px;
    font-size: 18px;
    border-radius: 3px;
    background: #b1b1b13b;
    color: #d1d1d1;
    font-size: 0.9em;
    cursor: pointer;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.2s all;
    &.haveToRefresh {
        background: $dark-quoise-hover;
    }
    &:hover {
        background: #ffffff3a;
    }
}

.label-error {
    display:flex;
    align-items: center;
    color:orangered;
    border:1px solid orangered;
    padding:3px 6px;
    border-radius:3px;
    width:250px;
   justify-content: center;
   position:absolute;
   right: 20px;
}