name: CI-DEV

on:
    push:
        branches: ["dev"]
        paths-ignore:
            - "**/README.md"
            - "**/workflows/*.yml"
    pull_request:
        types: [opened, synchronize]
        paths-ignore:
            - "**/README.md"
            - "**/workflows/*.yml"

jobs:
    build:
        name: Build and Test
        timeout-minutes: 15
        runs-on: ubuntu-latest

        steps:
            - name: Check out code
              uses: actions/checkout@v3
              with:
                  fetch-depth: 2

            - uses: pnpm/action-setup@v2.0.1
              with:
                  version: 6.32.2

            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Build
              run: pnpm build

            - name: Test
              run: pnpm test
